# Exploratory Data Analysis Lab
## Python Basics
### 1. Data types

#### Numbers: Integers and floats

In [3]:
# Numbers: Integers and floats 
x = 3
print(type(x))                         # Prints "<class 'int'>"
print(x)                               # Prints "3"

<class 'int'>
3

In [6]:
print(x + 1)                           # Addition; prints "4"
print(x - 1)                           # Subtraction; prints "2"
print(x * 2)                           # Multiplication; prints "6"
print(x ** 2 )                          # Exponentiation; prints "9"
print(324/2)                             # Divison; prints "1.5"

4
2
6
9
162.0

In [9]:
x=5
x/=2
print(x)

2.5

In [11]:
x += 1
print(x)                               # Prints "4"
x *= 2
print(x)                               # Prints "8"
y = 2.5
print(type(y))                         # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2)         # Prints "2.5 3.5 5.0 6.25"

4
8
<class 'float'>
2.5 3.5 5.0 6.25

#### Booleans

In [12]:

t = True
f = False
print(type(t))         # Prints "<class 'bool'>"
print(t and f)         # Logical AND; prints "False"
print(t or f)          # Logical OR; prints "True"
print(not t)           # Logical NOT; prints "False"
print(t != f)          # Logical XOR; prints "True"

<class 'bool'>
False
True
False
True

#### Strings

In [12]:

course = 'EDA'                            # String literals can use single quotes
univ = "KLE Tech"                         # or double quotes; it does not matter.
print(course)                             # Prints "EDA"
print(len(course))                        # String length; prints "3"

EDA
3

In [14]:
cu = course+' ' + univ                # String concatenation
print(cu)                               # prints "EDA KLE Tech"
cu310 = '%s %s %d' %(course, univ, 310)  # sprintf style string formatting
print(cu310)                             # prints "EDA KLE Tech 310"

EDA KLE Tech
EDA KLE Tech 310

#### String methods 
 - For more visit https://docs.python.org/3.10/library/stdtypes.html#string-methods

In [15]:

s = "knees"
print(s.capitalize())             # Capitalize a string; prints "Knees"
print(s.upper())                  # Convert a string to uppercase; prints "KNEES"
print(s.rjust(9))                 # Right-justify a string, padding with spaces; prints "    knees"
print(s.center(9))                # Center a string, padding with spaces; prints "  knees  "
print(s.replace('e', '(ell)'))    # Replace all instances of one substring with another;
                                  # prints "kn(ell)(ell)s"
print('  joint '.strip())         # Strip leading and trailing whitespace; prints "joint"

Knees
KNEES
    knees
  knees
kn(ell)(ell)s
joint

### Summary questions
- What are the different datatypes python support?
- How do you determine type of an element?
- How do you convert a element to a given type?

### Exercise
- 10/4 ?  --  integer datatype?

### 2. Imports and Math

#### 'Generic import' of math module

In [16]:
import math

In [17]:
math.sqrt(25)

5.0

In [18]:
# define an alias
import math as mt
mt.sqrt(64)

8.0

#### import a function

In [19]:
from math import sqrt

In [20]:
sqrt(25)    # no longer have to reference the module

5.0

In [21]:
# show all functions in math module
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

### 3. Containers
 - Built-in container types: lists, dictionaries, sets, and tuples.

### 3.1 Lists
 - A list is the Python equivalent of an array
 - Is resizeable and can contain elements of different types

In [15]:
xs = [3, 1, 2]    # Create a list
print(xs)# Prints "[3, 1, 2] 2"
print(type(xs))

[3, 1, 2]
<class 'list'>

In [16]:
print(xs[2])  # Prints "2"; Indexing starts from 0
             
print(xs[-3])     # Negative indices count from the end of the list; prints "2"

2
3

In [19]:
xs[2] = 'foo' # Lists can contain elements of different types
xs[-3]='poo'
print(xs)         # Prints "[3, 1, 'foo']"

['poo', 1, 'foo']

In [30]:
xs.append('bar')# Add a new element to the end of the list
xs.append('bar')
xs.append('anugaar')
print(xs)         # Prints "[3, 1, 'foo', 'bar']"

['bar', 'bar', 'anugaar']

In [32]:
xs.pop()      # Remove and return the last element of the list
print(xs)      # Prints "bar [3, 1, 'foo']"

['bar']

In [42]:
xs.append(1)
xs

['bar', 1, 1, 1, 1, 1, 1, 1, 1]

In [45]:
2 in xs           # Check if '1' is in the list using "in" operator

False

In [49]:
len(xs)           # Length of the list i.e, number of elements in the list

9

In [51]:
y=[2,4,6,7]
z=list([2,5,7,9,0])

#### Exercise 
 - Questions

#### Slicing

In [53]:

nums = list(range(5))     # range is a built-in function that creates a list of integers
print(nums)               # Prints "[0, 1, 2, 3, 4]"

[0, 1, 2, 3, 4]

In [30]:

print(nums[2:4])          # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"

[2, 3]

In [31]:
print(nums[2:])           # Get a slice from index 2 to the end; prints "[2, 3, 4]"

[2, 3, 4]

In [32]:
print(nums[:2])           # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"

[0, 1]

In [33]:
print(nums[:])            # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"

[0, 1, 2, 3, 4]

In [34]:
print(nums[:-1])          # Slice indices can be negative; prints "[0, 1, 2, 3]"

[0, 1, 2, 3]

In [35]:
nums[2:4] = [8, 9]        # Assign a new sublist to a slice
print(nums)               # Prints "[0, 1, 8, 9, 4]"

[0, 1, 8, 9, 4]

#### Concatenating lists together

In [36]:

x = [1, 2, 3]
x.extend([4, 5, 6])           # x is now [1,2,3,4,5,6]
print(x)

[1, 2, 3, 4, 5, 6]

In [37]:
# If you don’t want to modify x you can use list addition
x = [1, 2, 3]
y = x + [4, 5, 6]             # y is [1, 2, 3, 4, 5, 6]; x is unchanged
print(y)

[1, 2, 3, 4, 5, 6]

In [38]:
# Appending to lists one item at a time
x = [1, 2, 3]
x.append(0)                   # x is now [1, 2, 3, 0]
print(x)

[1, 2, 3, 0]

In [39]:
y = x[-1]                     # equals 0
z = len(x)                    # equals 4
print(z)

4

#### Conditions

In [58]:

level = -5
if level < 0:
    print("negative")
    print('asdas')
elif level == 0:
    print("null")
else: # level > 0
    print("positive")

negative
asdas

#### Loops

In [59]:
#while
x = [1, 2, 3]
i = 0
while i < len(x):
  print(x[i])
  i += 1 # equivalent to i = i + 1

1
2
3

In [42]:
#for 
for i in range(len(x)):
  print(x[i])

1
2
3

In [60]:

animals = ['dog', 'cat', 'monkey', 'bear']

# Print the elements of the list
print("Elements before sorting:")
for i in animals:                   #if it is to iterate over a list of elements
    print(i)
# Prints "dog", cat", "monkey", "bear", each on its own line.

Elements before sorting:
dog
cat
monkey
bear

In [61]:
# Sort the list in ascending order
animals.sort()

print("Elements after sorting:")
for i in animals:
    print(i)
# Prints "bear", cat", "dog", "monkey", each on its own line.

Elements after sorting:
bear
cat
dog
monkey

#### List comprehensions 
 - to transform one type of data into another

In [45]:

nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)                # Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [46]:
# Alternate
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)                # Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [47]:
# List comprehensions with condition
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)           # Prints "[0, 4, 16]"

[0, 4, 16]

### Exercise
 - Questions

### 3.2 Dictionaries
 - A dictionary stores (key, value) pairs, similar to a Map in Java

In [48]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print (d)

{'cat': 'cute', 'dog': 'furry'}

In [49]:
print(d['cat'])                      # Get an entry from a dictionary; prints "cute"

cute

In [50]:
print('cat' in d)                    # Check if a dictionary has a given key; prints "True"

True

In [51]:
d['fish'] = 'wet'                    # Set an entry in a dictionary
print(d['fish'])                     # Prints "wet"
# print(d['monkey'])                 # KeyError: 'monkey' not a key of d

wet

In [52]:
print(d.get('monkey', 'N/A'))        # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))          # Get an element with a default; prints "wet"

N/A
wet

In [53]:
del d['fish']                        # Remove an element from a dictionary
print(d.get('fish', 'N/A'))          # "fish" is no longer a key; prints "N/A"

N/A

#### Loops

In [54]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print('A %s has %d legs' % (animal, legs))
# Prints "A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [55]:
# Alternate using items()
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A %s has %d legs' % (animal, legs))
# Prints "A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [56]:
# Dictionary comprehensions
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)  # Prints "{0: 0, 2: 4, 4: 16}"

{0: 0, 2: 4, 4: 16}

### 3.3 Sets
 - A set is an unordered collection of distinct elements.
 - DON'T HAVE INDEX
 - No Duplicate Values

In [62]:
animals = {'cat', 'dog'}
print('cat' in animals)            # Check if an element is in a set; prints "True"
print('fish' in animals)           # prints "False"

True
False

In [63]:
animals.add('fish')                # Add an element to a set
print('fish' in animals)           # Prints "True"

True

In [64]:
print(len(animals))                # Number of elements in a set; prints "3"

3

In [65]:
animals.add('cat')                 # Adding an element that is already in the set does nothing
print(len(animals))                # Prints "3"

3

In [68]:
animals.remove('cat')              # Remove an element from a set
print(len(animals))                # Prints "2"

2

In [71]:
animals[0]

TypeError: 'set' object is not subscriptable

In [73]:
x=(1,3,4,5,6)
x[1]=5
print(type(x))

TypeError: 'tuple' object does not support item assignment

#### Loops

In [67]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))
# Prints "#1: fish", "#2: dog", "#3: cat"

#1: cat
#2: dog
#3: fish

In [63]:
# Set comprehensions
from math import sqrt
nums = {int(sqrt(x)) for x in range(30)}
print(nums)  # Prints "{0, 1, 2, 3, 4, 5}"

{0, 1, 2, 3, 4, 5}

### 3.4 Tuples
- A tuple is an (immutable) ordered list of values.
- A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot.

In [105]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)   
# Create a tuple
print(d)
print(d[(5,6)])

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
5

In [65]:
print(type(t))                          # Prints "<class 'tuple'>"

<class 'tuple'>

In [66]:
print(d[t])                             # Prints "5"

5

In [67]:
print(d[(1, 2)])                        # Prints "1"

1

In [68]:
print (d)

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}

### 4. Functions
- Python functions are defined using the def keyword.

In [74]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

sign(-2)

'negative'

In [75]:

for x in [-1, 0, 1]:
    print(sign(x))
# Prints "negative", "zero", "positive"

negative
zero
positive

In [71]:
# define functions with optional keyword arguments
def hello_name(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello_name('Ian')                                    # Prints "Hello, Ian"
hello_name('Goodfellow', loud=True)                  # Prints "HELLO, GOODFELLOW!"

Hello, Ian
HELLO, GOODFELLOW!

**Exercise** Using a conditional, write the [relu](https://en.wikipedia.org/wiki/Rectifier_(neural_networks)) function defined as follows

$\text{relu}(x) = \left\{
   \begin{array}{rl}
     x, & \text{if }  x \ge 0 \\
     0, & \text{otherwise }.
   \end{array}\right.$

In [108]:
def relu(x):
    if (x>=0):
        return x
    else:
        return 0
    

relu(-3)

0

In [100]:
nums=[1,2,{'cat':'sda'},4,(3,5,6),{'sad'}]
print(nums)

[1, 2, {'cat': 'sda'}, 4, (3, 5, 6), {'sad'}]

In [101]:
d={(3,4):[2,3,4]}
print(d[(3,4)][0])

2

## Reference on Python Basics 
- For more details https://docs.python.org/3.10/tutorial/index.html