In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("td.csv")

/var/folders/fn/jb3nqp7939dg7f4ckfj5sv2m0000gn/T/ipykernel_1639/2605579015.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("td.csv")

In [3]:
df=df[df["country_destination"].notna()]

In [4]:
df.head()

,age,country_destination,gende_unknown,gende_male,gende_female,gende_other,signu_facebook,signu_basic,signu_google,signu_weibo,...,action_detail_view_resolutions,action_detail_view_search_results,action_detail_view_security_checks,action_detail_view_user_real_names,action_detail_wishlist,action_detail_wishlist_content_update,action_detail_wishlist_note,action_detail_your_listings,action_detail_your_reservations,action_detail_your_trips
0,62.0,other,0,1,0,0,0,1,0,0,...,0.0,23.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0
1,-1.0,NDF,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-1.0,NDF,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,-1.0,NDF,1,0,0,0,0,1,0,0,...,0.0,32.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
4,-1.0,GB,1,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
X = df.iloc[:,2:]
y = df.iloc[:,[1]]
y.shape

(73815, 1)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# LogisticReg

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logreg = LogisticRegression()

In [8]:
logreg = logreg.fit(X_train,y_train)

/usr/local/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages/sklearn/utils/validation.py:1107: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
pred=logreg.predict(X_test)
acc_log=accuracy_score(y_test,pred)
print(f"Accuracy_score:{acc_log}")

Accuracy_score:0.6088959132987131

# Gaussian NB

In [10]:
from sklearn.naive_bayes import GaussianNB

gaussian_nb=GaussianNB()
gaussian_nb.fit(X_train,y_train)
predGNB=gaussian_nb.predict(X_test)
acc_gnb=accuracy_score(y_test,predGNB)
print(f"Accuracy_score:{acc_gnb}")

/usr/local/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages/sklearn/utils/validation.py:1107: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy_score:0.5970196432603296

In [11]:
predGNB

array(['NDF', 'NDF', 'US', ..., 'NDF', 'NDF', 'NDF'], dtype='<U5')

# Descision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier  
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier=classifier.fit(X_train, y_train)
c_pred=classifier.predict(X_test)
acc_log=accuracy_score(y_test,c_pred)
print(f"Accuracy_score:{acc_log}")

# KNN

In [13]:
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=10, metric='minkowski', p=2 )  
classifier.fit(X_train, y_train)  
c_pred=classifier.predict(X_test)
acc_log=accuracy_score(y_test,c_pred)
print(f"Accuracy_score:{acc_log}")

/usr/local/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:200: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Accuracy_score:0.5818920749604877